a {
    text-decoration: none;
}
.inner {
    display: flex;
}
input[type="text"]:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
ul {
    list-style-type: none;

}

/* 左3分の1 */
.left {
    width: 25%;
    height: 100vh;
    border-right: 1px #8080801a solid;
}
.left .icon {
    padding: 1rem 0 0 30%;
}

.list-entire {
    padding: 1rem 0 0 30%;
    display: inline-block;
}
.list-entire li {
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 0 .7rem;
    padding: .8rem .8rem;
    border-radius: 2rem;
}
.list-entire li:hover {
    color: rgb(29, 161, 242);
    background-color: rgb(237, 249, 255);
}
.list-entire li i {
    width: 1rem;
    padding: 0 2rem 0 0;
}
.list-entire a {
    color: black;
}
.fa-twitter {
    font-size: 2rem;
    color: rgb(29, 161, 242);
}
.tweet {
    margin: 2.5rem 0 0 30%;
}
.tweet a {
    background: rgb(29, 161, 242);
    padding: 1rem 5rem;
    border-radius: 2rem;
    color: white;
}
.tweet a:hover {
    background: rgb(9, 138, 217);
}
.settings-action {
    cursor: pointer;
}


/* 真ん中のメインコンテンツ */
.center {
    width: 45%;
    height: 100vh; /*あとで削除。スクロール聞かない*/
}
.center-fixed {
    display: flex;
    align-items: center;
    height: 3.5rem;
}
.center-fixed .arrow {
    color: rgb(29, 161, 242);
}
.center-fixed .names h4 {
    font-weight: bold;
    font-size: 1rem;
}
.center-fixed .names p {
    color: gray;
    font-size: .8rem;
    margin: .5rem 0 0;
}
.center-background img{
    height: 24vh;
    width: 100%;
}
.center-pic {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}
.center-pic img {
    height: 8rem;
    width: 8rem;
    border-radius: 5rem;
    border: 3px solid white;
    top: 10rem;
    left: 1rem;
    margin: -4rem 0 0;
}
.center-pic a {
    color: rgb(29, 161, 242);
    border: 1px solid rgb(29, 161, 242);
    padding: .8rem 1rem;
    border-radius: 2rem;
    font-size: .8rem;
    font-weight: bold;
}
.center-pic a:hover {
    background: rgb(237, 249, 255);
}
.profile-box {
    padding: 1rem 1rem 0 1rem;
}
.profile-name h3 {
    font-weight: bold;
    font-size: 1.2rem;
}
.profile-name p {
    color: gray;
    font-size: 1rem;
    margin: .5rem 0 0;
}
.profile-tagline {
    padding: 1rem 0;
}
.profile-info ul {
    display: flex;
    flex-wrap: wrap;
    color: gray;
}
.profile-info ul li i {
    padding: 0 .5rem 0;
}
.profile-follows {
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin: 1rem 0 1.3rem 0;
}
.profile-follows span {
    font-weight: bold;
}

.tweet-list ul {
    display: flex;
    justify-content: space-around;
    color: gray;
    font-weight: bold;
}
.tweet-list ul li{
    padding: 1.3rem 2.7rem;
    border-bottom: 1px solid #8080801a;
}
.tweet-list ul li:hover{
    color: rgb(29, 161, 242);
    background: rgb(237, 249, 255);
    border-bottom: 1.5px solid rgb(29, 161, 242);
}
.tweet-card {
    display: flex;
    border-bottom: 1px solid #8080801a;
}
.tweet-card:hover {
    background: rgb(237, 249, 255);
}
.tweet-card .picture {
    padding: 1rem;
}
.tweet-card .picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.tweet-card .text {
    flex: 1;
}
.tweet-card .text .info {
    display: flex;
    padding: 1rem 0 .7rem;
}
.tweet-card .text .info h4{
    font-weight: bold;
}
.tweet-card .text .info p{
    color: gray;
}
.tweet-card .description {
    padding: .5rem 0;
}
.tweet-card .text .reaction {
    display: flex;
    color: gray;
    font-weight: lighter;
    padding: 1.3rem 0;
}
.tweet-card .text .reaction i {
    margin: 0 5rem 0 0;
}

/*ツイート用ポップアップ*/
.popup {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: RGBA(34, 34, 34, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.popup-form {
    text-align: left;
    width: 40%;
    background: white;
    border-radius: 1rem;
    position: absolute;
    top: 3rem;
    right: 25rem;
}
.popup-top {
    border-bottom: 1px solid #8080801a;
}
.popup-top i {
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(29, 161, 242);
    border-radius: 2rem;
}
.popup-top i:hover {
    background-color: rgb(237, 249, 255);
}
.popup-middle {
    display: flex;
    align-items: flex-start;
    padding: .7rem;
}
.popup-middle img {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 0 .7rem 0 0;

}
.popup textarea {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    height: 11rem;
}
.popup-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.popup-bottom .logo {
    color: rgba(29, 161, 242, 0.55);
    margin: 0 10rem 0 4rem;
}
.popup-bottom .logo i {
    margin: 0 1rem 0 0;
    font-size: 1.5rem;
}
.popup input {
    color: white;
    background: rgb(29, 161, 242);
    border: rgb(29, 161, 242);
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    margin: 0 1rem 0 0;
}
.popup input:hover {
    background: rgb(9, 138, 217);
}

/* 右の3分の1 */
.right {
    width: 30%;
    height: 100vh;
    border-left: 1px solid #8080801a;
}
.right h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 4rem;
    line-height: 4rem;
}
.right .colored {
    color: rgb(29, 161, 242);
}

/* 右側 */
.settings {
    display: none;
}
.settings .title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #8080801a;
}
.settings .title i {
    color: rgb(29, 161, 242);
    margin: 0 1rem 0 0;
    border-radius: 2rem;
    padding: 1.2rem;
}
.settings .title i:hover {
    background-color: rgb(237, 249, 255);
}
.settings details input {
    margin: 0 0 0 1.2rem;
    width: 15rem;
    height: 1.5rem;
    border: 1.3px solid black;
}
.bio {
    margin: 0 0 0 1.2rem;
}
summary {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem;
    outline: none;
    cursor: pointer;
}
.right .submit {
    color: white;
    background: rgb(29, 161, 242);
    border: rgb(29, 161, 242);
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    margin: 1.5rem 1.3rem 0;
    font-size: 1.1rem;
}
.right .submit:hover {
    background: rgb(9, 138, 217);
}
.settings ul {
    margin: 2rem 0 0;
}
.settings ul li {
    margin: 1.5rem 1.3rem 0;
    display: inline-block;
}
.settings .logout {
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid rgb(29, 161, 242);
    background-color: #fff;
    color: rgb(29, 161, 242);
}
.settings .logout:hover {
    background-color: rgb(237, 249, 255);
}
.settings .deactivate {
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    background-color: #e91e63;
    color: #fff;
}
.settings .deactivate:hover {
    background-color: #bc0e49;
}